* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

#mypopover:popover-open {
    margin: auto;
    width: 80%;
    padding: 30px;
    border-radius: 0 10px 10px 10px;
    border: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.301);
}
::backdrop {
    background-color: rgba(0, 0, 0, 0.151);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    background-color: lightslategray;
    color: white;
    font-weight: bolder;
}

h2 {
    margin-top: 40px;
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    margin: 30px auto;
}
form fieldset {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgba(211, 211, 211, 0.295);
    border-radius: 0 10px 10px 10px ;
}
form > fieldset > input {
    margin-bottom: 10px;
    height: 30px;
    padding-left: 5px;
}
form fieldset select {
    height: 30px;
    width: 100%;
    margin-top: 10px;
}
form fieldset:nth-of-type(1) div input {
    margin-top: 5px;
}
form fieldset:nth-of-type(2) div input {
    margin-bottom: 15px;
}
form fieldset div label{
    margin-right: 15px;
}
form textarea {
    resize: none;
    padding: 10px;
}
form fieldset textarea {
    padding: 5px;
    resize: none;
}
form > div:nth-of-type(1) {
    text-align: center;
    margin-bottom: 20px;
}
form > div:nth-of-type(2) {
    text-align: end;
    margin: 7px 0 50px 0;
}
form input[type="submit"] {
    width: 100%;
    height: 40px;
    color: white;
    font-weight: bolder;
    background-color: lightslategray;
    border: none;
    border-radius: 5px;
    margin: auto;
}
body > div:nth-of-type(1) > button{
    border: none;
    background-color: transparent;
    text-decoration: underline;
    margin-bottom: 30px;
    font-weight: bolder;
    animation: cores 1s infinite linear;
}
@keyframes cores {
    0% {
        color: blue;
    } 
    50% {
        color: red;
    }
    100% {
        color: blue;
    }
}


footer {
    background-color: lightslategray;
    color: white;
    width: 100vw;
    text-align: center;
    position: relative;
    padding: 20px;
}