* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}
form fieldset {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgba(211, 211, 211, 0.295);
}
form > fieldset > input {
    margin-bottom: 15px;
    height: 30px;
}
form fieldset:nth-of-type(2) div select{
    margin-top: 20px;
    width: 100%;
}
form fieldset div label{
    margin-right: 15px;
}
form input[type="submit"] {
    width: 100%;
    height: 30px;
    background-color: #358FFD;
    border: none;
    border-radius: 5px;
    margin: auto;
}